@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fafafa;
  --foreground: #18181b;

  --card: #ffffff;
  --card-foreground: #18181b;

  --primary: #10b981;
  --primary-foreground: #ffffff;

  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --border: #e4e4e7;

  --grid: rgba(0, 0, 0, .06);

  --glow: radial-gradient(
    circle,
    rgba(16,185,129,.18) 0%,
    rgba(16,185,129,.08) 45%,
    transparent 75%
  );
}

.dark {

  --background: #09090b;
  --foreground: #fafafa;

  --card: #18181b;
  --card-foreground: #fafafa;

  --primary: #10b981;
  --primary-foreground: #ffffff;

  --secondary: #18181b;
  --secondary-foreground: #fafafa;

  --muted: #18181b;
  --muted-foreground: #a1a1aa;

  --border: #27272a;

  --grid: rgba(255,255,255,.05);

  --glow: radial-gradient(
    circle,
    rgba(16,185,129,.12) 0%,
    rgba(16,185,129,.05) 45%,
    transparent 75%
  );
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

  transition:
    background-color .25s ease,
    color .25s ease;
}